body{
	background: #111;
	margin: 0;
}

h2{
	color: #fff;
	position: relative;
	margin-top: 200px;
	text-align: center;
	letter-spacing: 0.2em;
	font-size: 5em;
	font-family: 'Mountains of Christmas';
}

#wire{
	text-align: center;
	white-space: nowrap;
	position: absolute;
	padding: 0;
	width: 100%;
	top: -80px;
	border-bottom: 3px solid #222;
	height: 100px;
}

#wire li{
	position: relative;
	display: inline-block;
	list-style: none;
	margin: 0 15px;
	padding: 0;
	width: 15px;
	height: 30px;
	border-radius: 50%;
	top: 102px;
	background: #fff;
	animation-name: evenbulbs;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}

#wire li:nth-child(odd){
	animation-name: oddbulbs;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}

#wire li:before{
	content: "";
	position: absolute;
	width: 12px;
	height: 8px;
	border-radius: 3px;
	top: -5px;
	left: 0;
	background: #444;
}

@keyframes evenbulbs{
	0%, 100%{
		background: rgba(75, 187, 50, 1);
		box-shadow: 0px 2px 20px 4px rgba(75, 187, 50, 1);
	}

	50%{
		background: rgba(75, 187, 50, 0.5);
		box-shadow: 0px 2px 20px 4px rgba(75, 187, 50, 0.3);
	}
}

@keyframes oddbulbs{
	50%{
		background: rgba(40, 187, 255, 1);
		box-shadow: 0px 2px 20px 4px rgba(40,187, 255, 1);
	}

	0%, 100%{
		background: rgba(40, 187, 255, 0.5);
		box-shadow: 0px 2px 20px 4px rgba(40,187, 255, 0.3);
	}
}